@font-face {
  font-family: "benchine";
  src: url("../fonts/BenchNine-Regular.ttf");
}

body {
  background: #1e1e1e !important;
}

.sf-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #3be43b;
  border-radius: 4px;
  padding: 4px;
}

.sf-div input {
  width: 95%;
  background: transparent;
  border: none !important;
}

.sf-div input:focus {
  background: transparent;
  border: none !important;
  outline: none !important;
}

.sf-div button {
  text-align: center;
  background: transparent;
  border: none !important;
}

.showcase {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: #fff url("../img/show.jpg") no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
}

.showcase .showcase-inner {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase-inner .showcase-text {
  width: 50%;
  margin-right: auto;
  padding-left: 40px;
  color: #fff;
}

.showcase .showcase-inner .showcase-text h1.display {
  font-family: "benchine";
  font-size: 5rem;
  font-weight: 650;
  letter-spacing: 0.15rem;
}

.showcase .showcase-inner .showcase-text h4.display {
  font-family: "Arial";
  font-size: 3rem;
  font-weight: 450;
  letter-spacing: 0.15rem;
}

.showcase .showcase-inner .showcase-text p {
  font-size: 22px;
}

.showcase .showcase-inner .showcase-text .btn {
  width: 40%;
  margin-right: auto;
  padding: 12px;
  color: #ffff;
}

.showcase .showcase-inner .social-media {
  height: 40vh;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.showcase .showcase-inner .social-media nav {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase .showcase-inner .social-media nav .social {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase .showcase-inner .social-media nav .social i {
  font-size: 1.5rem;
}

.showcase .showcase-inner .social-media nav .social:hover {
  background: #fff;
  color: #111;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-nav .nav-link {
  color: #fff !important;
  font-weight: 700;
  font-size: 1.2rem;
}

section.about {
  width: 100% !important;
  overflow-x: hidden !important;
  padding: 10px;
  min-height: 1000px;
}

section.about .row {
  height: 400px;
  position: relative;
  margin: 20px auto;
}

section.about .row .txt-box {
  background: #1e1e1e;
  color: #fff;
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  top: 20%;
  left: 10%;
  z-index: 999;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
}

section.about .row .txt-box.even {
  left: 55% !important;
}

section.about .row .img-box {
  background-size: cover !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 990px) {
  .showcase .showcase-inner .showcase-text {
    margin-top: 7rem;
  }
  .showcase .showcase-inner .showcase-text h1.display {
    font-size: 3.5rem;
  }
  .showcase .showcase-inner .showcase-text h4.display {
    font-size: 2.2rem;
  }
  .showcase .showcase-inner .showcase-text p {
    font-size: 16px;
  }
  section.about .row .txt-box {
    position: static !important;
    padding: 10px;
    border-radius: 4px;
    background: transparent !important;
    color: #111;
    z-index: 999;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    margin: 10px auto;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  section.about .row .txt-box.even {
    left: 55% !important;
  }
  section.about .row .img-box {
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
  }
}

@media (max-width: 768px) {
  .top-nav .navbar-collapse ul {
    background: #1e1e1e !important;
    z-index: 9999;
  }
  .showcase .showcase-inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .showcase .showcase-inner .showcase-text {
    margin-top: 10rem !important;
    width: 100%;
  }
  .showcase .showcase-inner .social-media {
    height: auto !important;
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 6rem !important;
  }
  .showcase .showcase-inner .social-media nav {
    background: none !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .showcase .showcase-inner .social-media nav .social {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .showcase .showcase-inner .social-media nav .social i {
    font-size: 1rem;
  }
  .showcase .showcase-inner .social-media nav .social:hover {
    background: #fff;
    color: #111;
  }
}

@media (max-width: 576px) {
  .showcase .showcase-inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .showcase .showcase-inner .showcase-text {
    margin-top: 7rem;
    width: 100%;
  }
  .showcase .showcase-inner .social-media {
    height: auto !important;
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .showcase .showcase-inner .social-media nav {
    background: none !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .showcase .showcase-inner .social-media nav .social {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .showcase .showcase-inner .social-media nav .social i {
    font-size: 1rem;
  }
  .showcase .showcase-inner .social-media nav .social:hover {
    background: #fff;
    color: #111;
  }
}

@media (max-width: 360px) {
  .showcase .showcase-inner .showcase-text {
    margin-top: 7rem;
  }
  .showcase .showcase-inner .showcase-text h1.display {
    font-size: 2.5rem;
  }
  .showcase .showcase-inner .showcase-text h4.display {
    font-size: 1.8rem;
  }
  .showcase .showcase-inner .showcase-text p {
    font-size: 16px;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.scan .row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scan .row .colm {
  margin-top: 80px;
}

.scan .row .colm .preview {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #7e7a7a;
  border-color: #ccc;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scan .row .colm .preview img {
  width: auto;
  height: 350px;
}

.scan .row .colm .image-preview-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.flash-alert {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 19911;
}
/*# sourceMappingURL=style.css.map */